# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled JavaScript files
dist/

# Ignore environment files
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store
